# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# generated GUI files
*R.java

# build location for native crap
obj/*

# for Mac users
.DS_Store

# vim project override settings
.vimdir

# VJDE project definition file
project.vjde
