<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.projectvoodoo.ocuvstabilitytest"
    android:versionCode="1"
    android:versionName="@string/version_name">

    <uses-sdk android:minSdkVersion="4" />

    <instrumentation
        android:targetPackage="org.projectvoodoo.ocuvstabilitytest"
        android:name="android.test.InstrumentationTestRunner" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name="StabilityApp" >

        <uses-library android:name="android.test.runner" />

        <!-- main home activity -->
        <activity android:name="HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- time_in_state view -->
        <activity
            android:name="TimeInStateActivity"
            android:label="CPU - Time In State">
        </activity>

        <service android:name="org.projectvoodoo.ocuvstabilitytest.stabilityTest" />
    </application>
</manifest>
